<div class = "custom-box col-10 offset-1">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png' %>
    </div>

    <div class = "col-8">
      <h1><%= @user.email %></h1>
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="clear"></div>

</br>

<div class = "text-center">
  <h1>My MacroPuzzler Food Contributions</h1>
  <p> COMING SOON! </p>
</div>

</br>
</br>
</br>
</br>

<div class = "text-center">
  <h1>My Recent Food Fit Searches</h1>
  <p> COMING SOON! </p>
</div>
