<div class="col-10 offset-1 about" id = "container">
  <div id = "header">
    <h1 class = 'front-header'>About MacroPuzzler</h1>
  </div>
  <div id = body>
    <p>MacroPuzzler was built to provide a little more simplicity to the macro counting community! Sometimes we want to stick to our macros even when going out to eat, so why not make it easier? Rather than scrolling through a bunch of foods and checking to see if they fit your macros, here at MacroPuzzler, you can plug in the macros you'd like to put towards a meal and receive an output of a list of foods that fit those macros! This is a growing site, so we welcome users to add their favorite macro friendly restaurant foods as they please! </p>

    </br>

    <p>There are several exciting features to be added in the future!</p>

    <ul>
      <li>User ability to save favorite macro fits for quick recall</li>
      <li>Larger food database</li>
      <ul>
        <li>Include all foods - restaurant or not! Searching by macros makes life easy in all situations!</li>
        <li>Are you at the end of the day and not sure what to put your remaining macros toward?</li>
        <li>MacroPuzzler will quickly provide you with options when there's no time for planning.</li>
      </ul>
      <li>Mobile App</li>
      <li>Enhanced User Experience</li>
    </ul>
  <div>
  </br>
    <div id="footer">
            Meet the creator! <a href="https://www.linkedin.com/in/candgoods/">Candace Goodson</a><br />
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
